/* 
    Document   : style
    Created on : 2 Mar, 2013, 3:44:39 PM
    Author     : Yash
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    margin: 0px;
    font-family: fantasy;
}
#title{
    height: 60px;
    width: 100%;
    background: url("title_back.jpg") repeat-x;
}
#center{
    width: 800px;
    margin: 0px auto;
    border:#3300ff dashed thin;
}
#wraper{
    margin-left: 80px;
}
td{
    padding: 5px 0px;
}

